<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Service</title>
</head>
<body>
    <nav style="width: 100%; background-color:gray">
        <div style="display: flex; justify-content: space-between;">
            <ul style="list-style: none; display: flex; margin: 0; padding: 0;">
                <li style="margin-right: 20px;">
                    <a href="/admin" style=" color: #000; padding: 5px 10px; font-weight: bold;">Home</a>
                </li>
                <li style="margin-right: 20px;">
                    <a href="/admin-users" style=" color: #000; padding: 5px 10px; font-weight: bold;">Users</a>
                </li>
                <li style="margin-right: 20px;">
                    <a href="/admin-add-service" style=" color: #000; padding: 5px 10px; font-weight: bold;">Add service</a>
                </li>
            </ul>
            
            <form action="/logout" method="POST">
                <button type="submit" style="border:1px blue solid; cursor: pointer; font-weight: bold;">Logout</button>
            </form>
        </div>
    </nav>
    <div class="container" >
        <h1>Add New Service</h1>
        <form action="{{ url_for('add_service') }}" method="POST" style="display: flex; flex-direction:column;" >
            <label for="name">Service Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="desc">Description:</label>
            <textarea id="desc" name="desc" required></textarea>
            
            <label for="min_price">Minimum Price:</label>
            <input type="number" id="min_price" name="min_price" required>
            
            <label for="min_time_req">Minimum Time Required:</label>
            <input type="text" id="min_time_req" name="min_time_req" style="margin-bottom: 10px;">
            
            <input type="submit" value="Add Service">
        </form>
    </div>
</body>
</html>